.vs
.vscode/tasks.json
TODO
.DS_Store

TheOtherRoles/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs

TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfo.cs

TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.AssemblyInfoInputs.cache

TheOtherRoles/obj/Debug/netstandard2.1/TheOtherRoles.GeneratedMSBuildEditorConfig.editorconfig
